<h1>******** Welcome to the longest word-game !********</h1>
<h2>Here is your grid :</h2>

<%= @grid %>


<form action="/score">
  <input type="text" id="word" name="word" placeholder="Type the longest word">
  <input type="hidden" name="start_time" value="<%= Time.now.to_i %>">
  <input type="submit" value="Go on!">
</form>
